$green: #158275;
$blue: #176498;
$orange: #CC6116;
$violet: #9C3790;
$pink: #D13B66;

$grey-darkest: #B0B0B0;
$grey-dark: #C4C4C4;
$grey: #D6D6D6;
$grey-light: #E8E8E8;
$grey-lightest: #F5F5F5;
$grey-even-darker: #9E9E9E;

$white: #fff;
$black: #000;
$grey-text: #595959;

$grey-alpha-03: rgba(255, 255, 255, 0.3);
